# Node.js
node_modules/
dist/
.build/
.cache/

# OS junk
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# n8n runtime
.n8n/
*.sqlite

# Env secrets
.env
.env.local
.env.production
.env.development

# Editor configs
.vscode/
.idea/

# Misc
*.bak
*.tmp
